<a href="https://colab.research.google.com/github/jongoh-Jeong/MachineLearning-for-AI/blob/main/practice_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
profile = pd.DataFrame({'name': ['LeeSeungYoon','JeongJongOh','Fernan Migo'],
                        'hobby': ['music','movie','video game'],
                        'nationallity':['kor','kor','france'],
                        'rand_num' : np.random.rand(3)*100
                        })

In [ ]:
profile

           name       hobby nationallity   rand_num
0  LeeSeungYoon       music          kor  81.870279
1   JeongJongOh       movie          kor  69.597603
2   Fernan Migo  video game       france  70.117438

In [ ]:
profile = profile.set_index('name')

In [ ]:
profile

                   hobby nationallity   rand_num
name
LeeSeungYoon       music          kor  81.870279
JeongJongOh        movie          kor  69.597603
Fernan Migo   video game       france  70.117438

In [ ]:
profile.to_csv("ex.csv",index = False)

In [ ]:
profile.rand_num.mean()

73.86177334757346

In [ ]:
data_ex = pd.read_csv("ex.csv")

In [ ]:
data_ex

        hobby nationallity   rand_num
0       music          kor  81.870279
1       movie          kor  69.597603
2  video game       france  70.117438